<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cursos</title>
    <link rel="stylesheet" href="path/to/bootstrap.css">
</head>
<body>
    <div class="container">
        <h1>Cursos Disponibles</h1>
        <div th:if="${mensaje}" th:class="${cssmensaje}">
            <p th:text="${mensaje}"></p>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Categoría</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="curso : ${cursos}">
                    <td th:text="${curso.id_curso}">Codigo de curso</td>
                    <td th:text="${curso.nombre}">Nombre de curso</td>
                    <td th:text="${curso.descripcion}">Descripción de curso</td>
                    <td th:text="${curso.categoria}">Categoria de curso</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>